<div [class]="errorMessage ? theme.errorRow : theme.row">
    <h3>
        {{titleToShow}}
        <div [class]="theme.buttonGroup" [style]="buttonGroupStyleString">
            <icon *ngIf="!isReadOnly"
                (onClick)="toggleLocked()"
                [text]="locked ? icon.unlock : icon.lock"
                [theme]="theme"
                [icon]="icon">
            </icon>
            <optional [required]="required"
                [value]="value"
                [isReadOnly]="isReadOnly || isLocked"
                [theme]="theme"
                [locale]="locale"
                (toggleOptional)="toggleOptional()">
            </optional>
            <icon (onClick)="collapseOrExpand()"
                [text]="collapsed ? icon.expand : icon.collapse"
                [theme]="theme"
                [icon]="icon">
            </icon>
            <icon *ngIf="hasAddButton"
                (onClick)="addItem()"
                [text]="icon.add"
                [theme]="theme"
                [icon]="icon">
            </icon>
            <icon *ngIf="hasDeleteButtonFunction"
                (onClick)="onDelete.emit()"
                [text]="icon.delete"
                [theme]="theme"
                [icon]="icon">
            </icon>
        </div>
    </h3>
    <description [theme]="theme" [message]="schema.description" [notEmpty]="true"></description>
    <div #drakContainer [class]="theme.rowContainer">
        <div *ngIf="showFilter" [class]="theme.row">
            <input [class]="theme.formControl"
                (change)="onFilterChange($event)"
                (keyup)="onFilterChange($event)"
                [value]="filter" />
        </div>
        <div *ngFor="let item of filteredValues; trackBy:trackByFunction" [attr.data-index]="item.i" [class]="theme.rowContainer">
            <editor [schema]="schema.items"
                [title]="item.i"
                [initialValue]="value[item.i]"
                (updateValue)="onChange(item.i, $event)"
                [theme]="theme"
                [icon]="icon"
                [locale]="locale"
                [required]="true"
                [readonly]="isReadOnly"
                (onDelete)="onDeleteFunction(item.i)"
                [hasDeleteButton]="true"
                [dragula]="dragula"
                [md]="md"
                [hljs]="hljs"
                [forceHttps]="forceHttps"
                [parentIsLocked]="isLocked">
            </editor>
        </div>
    </div>
    <description [theme]="theme" [message]="errorMessage"></description>
</div>