<div :class="theme.row">
    <label :class="theme.label">
        {{titleToShow}}
        <div :class="theme.buttonGroup" :style="buttonGroupStyle">
            <optional :required="required"
                :value="value"
                :isReadOnly="isReadOnly"
                :theme="theme"
                :locale="locale"
                @toggleOptional="toggleOptional()">
            </optional>
            <icon v-if="hasDeleteButtonFunction"
                @click="$emit('delete')"
                :text="icon.delete"
                :theme="theme"
                :icon="icon">
            </icon>
        </div>
    </label>
    <div v-if="value !== undefined">
        <div :class="theme.radiobox">
            <label>
                <input type="radio"
                    @change="onChange($event)"
                    :checked="value"
                    :disabled="isReadOnly" />
                {{locale.info.true}}
            </label>
        </div>
        <div :class="theme.radiobox">
            <label>
                <input type="radio"
                    @change="onChange($event)"
                    :checked="!value"
                    :disabled="isReadOnly" />
                {{locale.info.false}}
            </label>
        </div>
    </div>
    <description :theme="theme" :message="schema.description"></description>
</div>