<div :class="errorMessage ? theme.errorRow : theme.row">
    <label :class="theme.label">
        {{titleToShow}}
        <div :class="theme.buttonGroup" :style="buttonGroupStyle">
            <optional :required="required"
                :value="value"
                :isReadOnly="isReadOnly"
                :theme="theme"
                :locale="locale"
                @toggleOptional="toggleOptional()">
            </optional>
            <icon v-if="hasDeleteButtonFunction"
                @click="$emit('delete')"
                :text="icon.delete"
                :theme="theme"
                :icon="icon">
            </icon>
            <icon v-if="canPreview"
                @click="collapseOrExpand()"
                :text="collapsed ? icon.expand : icon.collapse"
                :theme="theme"
                :icon="icon">
            </icon>
        </div>
    </label>
    <textarea v-if="useTextArea"
        :class="theme.formControl"
        @change="onChange($event)"
        @keyup="onChange($event)"
        rows="10"
        :readOnly="isReadOnly"
        :disabled="isReadOnly">{{value}}</textarea>
    <input v-if="useInput"
        :class="theme.formControl"
        :type="schema.format"
        @change="onChange($event)"
        @keyup="onChange($event)"
        :value="value"
        :readOnly="isReadOnly"
        :disabled="isReadOnly" />
    <select2 v-if="useSelect" :data="options"
        :value="value"
        @update="updateSelection(arguments[0])">
    </select2>
    <img v-if="willPreviewImage"
        :style="imagePreviewStyle"
        :src="getImageUrl" />
    <markdown-tip v-if="useTextArea && willPreviewMarkdown" :locale="locale.name"></markdown-tip>
    <div v-if="willPreviewMarkdown" v-html="getMarkdown"></div>
    <pre v-if="willPreviewCode"><code v-html="getCode"></code></pre>
    <description :theme="theme" :message="schema.description"></description>
    <description :theme="theme" :message="errorMessage"></description>
</div>